@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'San Francisco Pro Display';
    src: url('../fonts/SF-Pro-Display-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }